.section {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid #FFC75D;
    border-radius: 5px;

    font-size: 30px;
    color: #FFC75D;
}